@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Press+Start+2P&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration-line: none;
    color: black;
}
@media(min-width: 426px){
    h1{
        font-size: 2.8vh;
    }
    h2{
        font-size: 2vh;
    }
    h3{
        font-size: 1.5vh;
    }
    h4{
        font-size: 1vh;
        font-family: 'Press Start 2P', cursive;
    }
    p{
        font-size: 1.5vh;
    }
    body{
        margin: 0 auto;
        background: black;
        background-image: url('/FinalMMP350/img/black-background-star.jpg');
        padding: 0.2vh;
        width: 80%;
        min-width: 700px;
    }
    #menupage{
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-gap: 0.2vh;
    }
    .menu{
        padding: 0.5vh;
        text-align: center;
        background: red;
    }
    #content{
        padding: 0.5vh;
        background: pink;
    }
    button, input{
        font-size: 1.6vh;
        height: auto;
    }
    #firstpage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 0.2vh;
    }
    #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2vh;
        width: 40vh;
        margin: 0 auto;
        
    }
    .loginheader{
        font-size: 4vh;
        text-align: center;
        padding: 1vh;
        color: white;
    }
    
    #blogpage{
        display: grid;
        grid-gap: 0.2vh;
    }
    .comment{
        padding: 1vh;
        background: hotpink;
    }
    #textcomment{
        width: 100%;
        height: 13vh;
        font-size: 1.5vh;
    }
    #posts{
        background: blue;
        padding: 1vh;
    }
    .post{
        display: grid;
        grid-template-columns: 10vh 1fr;
        grid-template-rows: 10vh 1fr;
    }

    .textcontent{
        grid-column: span 2;
        background: white;
        padding: 1vh
    }
    #profile-image{
        width:20vh;
        height:20vh;
    }
    .accimg{
        background: white;
        padding: 0.3vh;
        width:9.35vh;
        height:9.35vh;
    }
    
}
@media(max-width: 425px){
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 4.5vw;
    }
    h4{
        font-size: 2.5vw;
        font-family: 'Press Start 2P', cursive;
    }
    p{
        font-size: 4.5vw;
    }
    body{
        margin: 0 auto;
        background: black;
        background-image: url('/FinalMMP350/img/black-background-star.jpg');
        padding: 0.2vw;
    }
    #menupage{
        display: grid;
        grid-template-columns: 0.8fr 2.2fr;
        grid-gap: 0.2vw;
    }
    
    .menu{
        padding: 0.5vw;
        text-align: center;
        background: red;
    }
    #content{
        padding: 0.5vw;
        background: pink;
    }
    button, input{
        font-size: 4vw;
        height: auto;
    }
    #firstpage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 0.2vw;
    }
    #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2vw;
    }
    .loginheader{
        font-size: 9vw;
        text-align: center;
        padding: 1vw;
        color: white;
    }
    .text{
        grid-column: span 2;
        background: brown;
    }
    #blogpage{
        display: grid;
        grid-gap: 0.2vw;
    }
    .comment{
        padding: 1vw;
        background: hotpink;
    }
    #textcomment{
        width: 100%;
        height: 30vw;
        font-size: 4vw;
    }
    #posts{
        background: blue;
        padding: 1vw;
    }
    .post{
        display: grid;
        grid-template-columns: 25vw 1fr;
        grid-template-rows: 25vw 1fr;
    }
    .textcontent{
        grid-column: span 2;
        background: white;
        padding: 1vw;
    }
    #profile-image{
        width:40vw;
        height:40vw;
    }
    .accimg{
        background: white;
        padding: 1vw;
        width:23vw;
        height:23vw;
    }
}
.header{
     grid-column: 1/ span 2;
     background: white;
     text-align: center;
     width: 100%;
}
.imgfirstpage{
    grid-column: 1/ span 2;
    background: blueviolet;
    padding: 1%;
    width: 98%;
    margin: 0 auto;
}
.headerblog{
    background: white;
    width: 100%;
}
.info{
    background: limegreen;
}
.btfirstpage1{
    background: red;
}
.btfirstpage2{
    background: green;
}
.footer{
     text-align: center;
     grid-column: 1/ span 2;
     background: yellow;
}
.text{
     background: saddlebrown;
     grid-column: span 2;
}
.footerblog{
    text-align: center;
    background: lightgreen;
}
#gobacktext{
    color: cyan;
    grid-column: span 2;
    background: black;
}
.detail{
    background: orange;
    width: 100%;
}
.center0{
    text-align: center;
}
